
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'variables';

body{
  font-family: 'Lato', sans-serif;
}

#table{
  
  >div{
    margin: 25px 0;
  }
  .row{

    span{
      width: 70px;
      // text-align: right;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 300ms linear;

      &:first-child{
        border-right: 1px solid black;
      }

      &:last-child{
        font-size: 10px;
      }

      &.pivot{
        // background: darken($pink, 10%);
        font-weight: 700;
        animation: highlightPivot 1s linear forwards;
        // opacity: 0.5;
        position: relative;
        
        // &::after{
        //   content:"PIVOT";
        //   position: absolute;
        //   animation: hideText 2s linear 0 1 forwards;
        // }
      }

      &.pivot-column, &.pivot-row{
        background: $pink;
        // color: $dark-grey;
        &-whole{
          background: lighten($pink, 20%);
        }
      }

      &.new-basic{
        background: lighten($light-green, 10%);
      }

      &.updated-row{
        background: lighten($light-green, 15%);
      }

      &.result{
        background: lighten($blue, 10%);
      }

    }

    &.header {
      border-bottom: 1px dashed black;
      background: $grey;
      span{

        font-size: 14px;
        &:first-child{
          opacity: 0;
        }
      }
    }

    &:last-child{
      border-top: 1px solid black;

      span{
        font-size: 16px;

        &:first-child{
          opacity: 0;
        }
      }
    }

    // &:first-child{
    //   border-bottom: 1px dashed black;
    //   span{
    //     &:first-child{
    //       opacity: 0;
    //     }
    //   }
    // }
  }
}

@keyframes highlightPivot {
  0% {
    background: lighten($pink, 20%);
    // font-size: 12px;
    // opacity: 0.5;
  }
  100% {
    background: darken($pink, 10%);

    // font-size: 16px;
  }
}

// @keyframes hideText {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

